#item {
    width: 100%;
    display: flex;
    border: 0px solid #741188;
    border-bottom-width: 1px;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: salmon;
    font-size: x-large;
    float: left;
    width: 100%;
}


.button {
    float: left;
    margin: 20px;
    width: 5%;
    border-color: red;
    border-width: 1px;
    color: red;
}